#tabla-medico{
	background-color: #E0DFDF;
}
#tabla-medico .panel:not(.bg-blue-grey-200){
	float:right;
	margin: 5% 5% 5% 0;
}
#tabla-medico h1{
	color: #62A8EA;
	font-size:24px;
}
#tabla-medico th{
	text-align: center;
	background-color: #62A8EA;
	font-size: 24px;
	color: white;
}
#tabla-medico tr:nth-child(even){
	background-color: #E0DFDF;
}
#tabla-medico td a .icon{
	font-size: 34px;
	margin-right: 3px;
}
#medicosidebar .modal-header{
	position: fixed;
	top: 0px;
	padding-bottom: 12.5%;
	background-color: #62A8EA;
	width: 100%;
}
#medicosidebar img{
	margin-top: 12.5%;
	border-radius: 100px;
}
#medicosidebar .modal-body form{
	width: 70%;
    margin: 0 auto;
}
#medicosidebar .modal-content{
	background-color: white;
}
#medicosidebar table tr:nth-child(even){
	background-color: #E0DFDF;
}
#medicosidebar table .azultabla,td{
	color:#62A8EA;
}
#medicosidebar table{
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
#editableTable{
    margin-top: 60rem !important;
}
#medicosidebar table th{
	text-align: center;
}

#logrosymetas .container{
    margin-left: 20%;
    width: 70%
}
.sombraportada{
	box-shadow: 0px 0px 23px 6px rgba(0,0,0,0.75);
}
.nav.nav-pills, .centrado{
	display:flex;
	justify-content: center; 
}
.help-block{
	display: none !important;
}
