.page-forgot-password {
  background-image: url("../../../../images/login-images/resetpassword-image.png");
}
.page-forgot-password p, h2 {
  color: #fff;
}
.page-forgot-password form {
  width: 250px;
  margin: 30px auto;
  
}
